# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ files
*.iml
.idea

# Ignore generated src files from grammar
src/generated

# Ignore JS modules
node_modules
